<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Web App - Environment Variables</title>
</head>
<body>
    <h1>Welcome to the Go Web App</h1>
    <h3>this app is looking for these env (NAME, AGE, PASSWORD, NUMBER)so if you see unkown u fkedup somewhere, make sure u have env set up in your system</h3>

    <p>Name: {{.Name}}</p>
    <p>Age: {{.Age}}</p>
    <p>Password: {{.Password}}</p>
    <p>Number: {{.Number}}</p>
    <p>Version: {{.Version}}</p>
</body>
</html>

